.tab {
  display: none;
  min-height:500px;
  background:#333333;
  display:none;
  padding:12px;
  color:white;
}

#tabs{
  position: relative;
}

#tabs input[type="radio"]{
  position: absolute;
  top: -20px;
  left: -200px;
}

#tabs label {
  background:#333333;
  display:inline-block;
  margin-right:2px;
  border-radius:3px;
  padding:14px 20px;
  font-family:Calibri;
  font-size:95%;
  font-weight:700;
  color:white;
}

#tabs label:hover {
  background: #F9A91A;
}

#tab-cancha:checked ~ #cancha,
#tab-cuadritos:checked ~ #cuadritos,
#tab-positioning:checked ~ #positioning,
#tab-triptico:checked ~ #triptico,
#tab-menu:checked ~ #menu
{
  display: block;
}

/*Estilos para el ejerciico La cancha*/
.pasto{
  background: #8cb27c;
  position: relative;
  height: 400px;
  width: 800px;
  display: inline-block;
  top: 20px;
  left: 20px
}

.cal, .porteria1, .porteria2, .centro{
  border: 5px solid white; position: absolute;
}

.cal{
  height: 360px;
  width: 750px;
  display: inline-block;
  top: 15px;
  left: 20px
}

.porteria1{
  height: 110px;
  width: 70px;
  display: inline-block;
  top: 140px;
  left: 20px;
}

.porteria2{
  height: 110px;
  width: 70px;
  display: inline-block;
  top: 140px;
  left: 700px;
}

.centro{
  height: 110px;
  width: 110px;
  display: inline-block;
  top: 140px;
  left: 340px;
}

.izq, .cntro, .der{
  background: white;
  position: absolute;
  height: 20px;
  width: 20px;
  box-shadow: 1px 1px 1px #000;
}

.pelota, .centro {
  border-radius: 50%;
}

.izq{
  display: inline-block;
  top: 2px;
  left: 63px;
}

.cntro{
  display: inline-block;
  bottom: 160px;
  left: 60px;
}

.der{
  display: inline-block;
  top: 80px;
  left: -35px;
}

/*Estilos para el ejercicio Posicionando cajas*/
.red{
  background: red;
  position: relative;
  height: 200px;
  width: 200px;
  top: 20px;
  left: 20px;
}

.purple{
  background: purple;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50px;
  left: 50px;
}

.yellow{
  background: yellow;
  position: absolute;
  height: 50px;
  width: 50px;
}

.blue{
  background: blue;
  position: relative;
  height: 200px;
  width: 200px;
  top: 50px;
  left: 20px;
}

.green{
  background: green;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50px;
  left: 50px;
}

.black{
  background: black;
  position: absolute;
  height: 50px;
  width: 50px;
}

/*
.flotante{
  position: fixed;
  width: 100px;
  height: 100px;
  background: orange;
  bottom: 140px
  left: 600px
}
*/

/*Estilos para el ejercicio CSS Positioning 101 (con vistas)*/

a {
  color:white
}
#box_1, #box_2, #box_3{
  position: static;
  width: 200px;
  height: 200px;
}

#box_1,
#box_1b,
#box_1c,
#box_1d,
#box_1e,
#box_1f,
#box_1h,
#box_1h2,
#box_1h3 {
  background: #ee3e64;
}

#box_2,
#box_2b,
#box_2c,
#box_2d,
#box_2e,
#box_2f,
#box_1g,
#box_2h2,
#box_2h3 {
  background: #44accf;
}

#box_3,
#box_3b,
#box_3c,
#box_3d,
#box_3e,
#box_3f,
#box_2h {
  background: #b7d84b;
}

#box_1b,
#box_2b,
#box_3b,
#box_1c,
#box_2c,
#box_3c,
#box_1d,
#box_2d,
#box_3d{
  position: relative;
  width: 200px;
  height: 200px;
}

#box_2c, #box_2d{
  left: 200px;
}

#box_1e,
#box_2e,
#box_3e,
#box_4e,
#box_1f,
#box_2f,
#box_3f,
#box_4f,
#box_2h2,
#box_2h3 {
  position: absolute;
  width: 200px;
  height: 200px;
}

#box_1e, #box_1f {
  top: 0;
  left: 0;
}

#box_2e, #box_2f {
  top: 0;
  right: 0;
}

#box_3e, #box_3f {
  bottom: 0;
  left: 0;
  }

#box_4e, #box_4f {
  bottom: 0;
  right: 0;
  background: #ebde52;
}

.orange {
  background: #f95b34;
  position: absolute;
  top: 39%;
  left: 41%;
  width: 40px;
  height: 40px;
}

#box_1g {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}

#box_2g {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  background: #ff9c34;
}

#box_1h {
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: 0;
}

#box_2h {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80%;
}

#box_1h2,
#box_1h3 {
  width: 200px;
  height: 200px;
}

#box_2h2 {
  left: 100px;;
}

#box_2h3 {
top: 0;
left: 100px;
}

#box_2i {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f95b34;
}

#j {
 margin: 0;
 font: normal 12px/18px 'Helvetica', Arial, sans-serif;
 background: #44accf;
}

#container {
  width: 900px;
  margin: 0 auto;
}
#content {
  position: relative;
  padding: 20px 250px 60px 20px;
  background: #fff;
}
#nav {
  height: 50px;
  background: #b7d84b;
}
#callout {
  position: absolute;
  top: 100px;
  bottom: 100px;
  right: -80px;
  width: 210px;
  padding: 0 20px;
  border-top: 5px solid #f95b34;
  background: #fa8366;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 860px;
  padding: 0 20px;
  background: #f36283;
}

#nav a {
  display: block;
  float: left;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  line-height: 50px;
  border-right: 1px solid #91ab3b;
}
#nav a:hover {
  background: #91ab3b;
}
#callout p {
  color: #fff;
}

/*Estilos para el ejercicio El tríptico*/

/*solucionario con Manu
.yellow-square{
  background-color: yellow;
  text-align: center;
  padding: 5px;
  margin: 0;
}

.panel{
  border: 1px solid black;
  display: inline-block;
  width: 32.3%;
  height: 500px;
}

.panel > h2{
  text-align: center;
}

.panel > p {
  margin:20px 25px;
}

.panel > img {
  margin: 20px auto;
  display: block;
}
*/

p{
  text-align: justify;
  color: black;
  padding: 12px 5px 5px 12px;
  font-size: 14px
}

img{
  display: inline-block;
  width: 250px;
  height: 250px;
  right: 500px;
}

.titulo {
  text-align: center;
  color: black;
}

.yellow-square{
  border: 1px solid black;
  width: 899px;
  height: 30px;
  background: #F9A91A;
  text-align: center;
  color: black;
  font-size: 17px;
}

.cuerpo{
  width: 899px;
  height: 450px;
}

.panel-der{
  width: 299px;
  height: 448px;
  background-color: #fff;
  float:left;
  color: black;
}

.panel-izq{
  width: 299px;
  height: 448px;
  background-color: #fff;
  float:right;
}

.panel-cntr{
  margin-left: 300px;
  width: 299px;
  height: 448px;
  background-color: #fff;
}

/*Estilos para el ejercicio Tipografías e íconos*/

.gray-box{
  border: 1px dashed black;
  float: left;
  background: #e3e3e3;
  color: grey;
  font-family: sans-serif;
  width: 200px;
  height: 300px;
}

.description {
  clear: left;
  padding: 10px;}

.active{
  background-color: white;
  padding: 10px 0;
  color: Ligthblue;
  position: relative;
  bottom: 10px;
}

.gray-box > img {
  display: block;
  margin: 0 auto;
}

.gray-box > h3,
.gray-box > h6
 {
  text-align: center;
  margin: 10px;
}

.icono {
  font-size: 50px;
  color: grey;
  text-align: center;
}
